@{
    ViewBag.Title = "About SongShout";
}

 <div class="page-header"><h1>SongShout <small>Dedicate a song on Twitter.</small></h1></div>
<h2>About SongShout</h2>

<p>SongShout is just a little side project because I like sharing music.  I chose to use the GrooveShark API because they are the only provider who allows for ull length songs to be played.  Personally I subscribe to Rdio and Rhapsody.  I would have preferred to use Rdio but I thought limiting the songs to 30 seconds was too short.  I will probably integrate it in at some point</p>
<p>I am also making this little project open source on GitHub.  I will post it up once I clean up some of my personal API keys.  It will be here when I do: https://github.com/cmccarrick/songshout </p>